body{
    font-size: 30px;
}


.item-a {
    grid-area: logo;
    background: blue;
}

.item-b {
    grid-area: header;
    background: #ff0000;
    display: grid;
    grid-template-rows: 57% 43%;
}

.navbar{
    background: yellow;
}

.item-c {
    grid-area: option;
    background: green;
}

.item-e {
    grid-area: results;
    background: orange;
}

.item-f {
    grid-area: footer;
    background: pink;
}

.container {
    display: grid;
    width: 100%;
    min-height: 2000px;
    background: white;
    grid-template-columns: 12% 1fr 32%;
    grid-template-rows: 4% 3% 1fr 6%;
    grid-template-areas:
    "logo header option"
    ". header ."
    ". results ."
    "footer footer footer";
}

