body{
    font-size: 14px;
    height: 1500px;
    width: 1500px;
}

#menu-div{
    background: blue;
    height: 70px;
    display: flex;
    margin: 20px 25px;
}

#logo-div{
    border: 5px green solid;
    width: 100px;
    display: flex;
}

#logo-div img {
    height: 33px;
    width: 100px;
    justify-content: flex-start;
}

#searchbar-div{
    background: yellow;
    width: 800px;
}

#search-input{
    border-radius: 100px;
    border: 1px rgba(128,128,128,0.25) solid;
    height: 100%;
    width: 100%;
    padding-left: 46px;
    padding-top: 2px;
}

#options-div{
    background: red;
    width: 600px;
}

#navbar-div {
    background: pink;
    height: 3%;
}

#results-div {
    background: purple;
    height: 1fr;
}

#footer-div {
    background: orange;
    height: 10%;
}